
.row {

    nav {

        background-color: $color-principal;

        ul li a {
            color: white;
            margin: 20px;
            font-size: 25px;
        }
    }

    .logo {
        width: 210px;
        height: 140px;
        margin-left: 45px;
        margin-top: 10px;
      }

  }


